* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.item{
	height: 200px;
	width: 100%;
	margin: 0 auto;
}
#box1{
	background-image: url(img/box1.jpg);
	background-size: cover;
}
#box2{
	background-image: url(img/box2.jpg);
	background-size: cover;
}
#box3{
	background-image: url(img/box3.jpg);
	background-size: cover;
}
#box4{
	background-image: url(img/box4.jpg);
	background-size: cover;
}
